vs/
training_data/
.*zip
log/
data/
.*lib
.*dll
/.vs/LicensePlateRecognition/v15/ipch/AutoPCH/3187cb2baebd95fe/PREPROCESSIMAGE.ipch
/.vs/LicensePlateRecognition/v15/ipch/AutoPCH/47c050aa32b52a9/LICENSEPLATERECOGNITIONDLG.ipch
/.vs/LicensePlateRecognition/v15/ipch/AutoPCH/58db247a00fe8f46/LICENSEPLATERECOGNITION.ipch
/.vs/LicensePlateRecognition/v15/ipch/AutoPCH/5e83f55e8863b8d1/PREPROCESSIMAGE.ipch
/.vs/LicensePlateRecognition/v15/ipch/AutoPCH/8ddeb77c0fe27b38/DETECTOR.ipch
/.vs/LicensePlateRecognition/v15/ipch/AutoPCH/ac2d6d1daff6a853/OPENCV.ipch
/.vs/LicensePlateRecognition/v15/ipch/AutoPCH/b4f783a830125ed5/DETECTOR.ipch
/.vs/LicensePlateRecognition/v15/ipch/AutoPCH/be973d000ce9fbeb/DETECTOR.ipch
/.vs/LicensePlateRecognition/v15/ipch/AutoPCH/d3057a7527deda7d/PREPROCESSIMAGE.ipch
/.vs/LicensePlateRecognition/v15/ipch/AutoPCH/ddebb83d29437809/LICENSEPLATERECOGNITIONDLG.ipch
/.vs/LicensePlateRecognition/v15/ipch/AutoPCH/f2b8a97b01dac4e6/DETECTOR.ipch
/.vs/LicensePlateRecognition/v15/ipch/AutoPCH/f7d5f2e0b98554c4/DETECTOR.ipch
/.vs/LicensePlateRecognition/v15/ipch/AutoPCH/ff4c8f6b42a26e55/DETECTOR.ipch
/.vs/LicensePlateRecognition/v15/ipch/c0dc194d59c316dd.ipch
/.vs/LicensePlateRecognition/v15/ipch/c2d039b3987ecfb5.ipch
/.vs/LicensePlateRecognition/v15/ipch/f665f1e39a09a68d.ipch
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/include/opencv_world411.lib
/include/opencv_world411d.lib
/include/yolo_cpp_dll.lib
/include/yolo_cpp_dllD.lib
/x64/cublas64_100.dll
/x64/cudart64_100.dll
/x64/cudnn64_7.dll
/x64/curand64_100.dll
/x64/ffmpeg_64.dll
/x64/LicensePlateRecognition.exe
/x64/LicensePlateRecognition.iobj
/x64/LicensePlateRecognition.ipdb
/x64/LicensePlateRecognition.pdb
/x64/lnk{B6BF2BEF-E0B7-4B63-BC85-6C94990D9749}.tmp
/x64/opencv_videoio_ffmpeg411_64.dll
/x64/opencv_world411.dll
/x64/opencv_world411d.dll
/x64/yolo_cpp_dll.dll
/x64/yolo_cpp_dllD.dll
/.vs/LicensePlateRecognition/v15/ipch/60f158af7e9d9435.ipch
/.vs/LicensePlateRecognition/v15/Browse.VC.db
/.vs/LicensePlateRecognition/v15/Browse.VC.opendb
